/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

header h2 {
    font-size: 1.2rem;
}

/* Menu */
.menu {
    padding: 40px 20px;
    text-align: center;
}

.menu h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.menu-img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.menu-details {
    text-align: left;
}

.menu-details h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.menu-details p {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}